@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

@section InjectReact {
    <script type="module" crossorigin src="~/Lab1/assets/"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DiwrgTda.css">
}